MONGODB_URI=mongodb://localhost:27017/your_db_name
JWT_SECRET=generate_a_secure_32_byte_hex_string_here
JWT_EXPIRE_MINUTES=10080
MODEL_NAME="all-MiniLM-L6-v2"
ADMIN_EMAIL="admin@yourdomain.com"
ADMIN_PASSWORD="super_secure_admin_password"
